.max-vh-height {
    height: 100vh;
}


.profile-image {
    width: 40px;
    height: 40px;
}

.image {
    width: 200px;
    height: 200px;
}


.friend-drawer {
    transition: .3s ease;
}

.text {
    margin-left:  12px;
    width: 70%;
}

.text h6 {
    margin-top: 6px;
    margin-bottom: 0px;
}

.text p {
    margin: 0;
}

.time {
    color: grey;
}

.friend-drawer:hover {
    background: #ede9e8;
    cursor: pointer;
}

.chat-bubble {
    background: #eee;
}

#cardImage {
    height: 200px;
    width: 200px;
}

#card {
    height: 364px;
    width: 210px;
}
